/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define SPLIT_BAR 1

/ {
	chosen {
#ifdef SPLIT_BAR
		zmk,matrix_transform = &split_space_transform;
#endif
	};

        keymap {
                compatible = "zmk,keymap";

		default_layer {
// |----------------------------------------------------------------------------------------------
// |  TILDE  | ESC  |  Q  |  W  |  E  |  R  |  T  |  Y  |  U  |  I  |  O  |  P  |  [  |  ]  |  BKSP   |
// |  CAPS  | CTL   |  A  |  S  |  D  |  F  |  G  |  H  |  J  |  K  |  L  |  ;  |  '  |     ENTER    |
// |  TAB  |  SHIFT  |  Z  |  X  |  C  |  V  |  B  |  N  |  M  |  ,  |  .  |  /  |  SHIFT    |  Fn  |
// |  K_PP  |       |  WIN  |  ALT  |            SPACE              |  ALT  |  WIN  |                |
// |----------------------------------------------------------------------------------------------
			bindings = <
&kp TILDE    &gresc  &kp Q  &kp W  &kp E  &kp R  &kp T  &kp Y  &kp U  &kp I  &kp O  &kp P  &kp LBKT  &kp RBKT  &kp BSPC
&kp  CAPS   &kp LCTRL  &kp A  &kp S  &kp D  &kp F  &kp G  &kp H  &kp J  &kp K  &kp L  &kp SEMI &kp SQT           &kp RET
&kp TAB   &kp LSHFT   &kp Z  &kp X  &kp C  &kp V  &kp B  &kp N  &kp M  &kp COMMA &kp DOT &kp FSLH    &kp RSHFT  &mo 1

#ifdef SPLIT_BAR
&kp K_PP         &kp LGUI &kp LALT &none        &kp SPACE    &kp BSPC           &none           &kp RALT  &kp RGUI
#else
&kp K_PP         &kp LGUI &kp LALT        &kp SPACE                     &kp RALT  &kp RGUI
#endif
			>;
		};

		rgb_layer {
// ------------------------------------------------------------------------------------------------------
// | BT 1 |  BT CLR |   |  UP |   |       |       |       |       |   |     |    |     |     |           |
// | BT 2 |          | LT |  DN  | RT |       |       |       |     N |   |     |   |     |              |
// | BT 2 |             |     |      |      |     |     |     |     |     |     |     |                  |
// | BT 2 |         |      |      |                                    | PRT SCR |       |               |
// ------------------------------------------------------------------------------------------------------
			bindings = <
&bt BT_SEL 0 &bt BT_CLR &trans    &kp UP    &trans  &trans  &trans &trans &trans  &trans   &trans   &trans   &trans  &trans          &trans 
&bt BT_SEL 1 &none  &kp LEFT  &kp DOWN  &kp RIGHT &trans &trans &trans &trans &trans   &trans   &trans   &trans        &trans
&bt BT_SEL 2 &none   &trans    &trans    &trans   &trans          &trans          &trans          &trans          &trans   &trans   &trans                          &trans

#ifdef SPLIT_BAR
&bt BT_SEL 3       &trans &trans &trans              &trans          &trans              &trans           &trans  &trans
#else
&bt BT_SEL 3       &trans   &trans                            &trans                                      &kp PSCRN      &trans
#endif
			>;
		};
        };
};
